@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    //transition: 0.1s;
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4231ab;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6853e3;
}

a:hover {
    text-decoration: none !important;
}

$c-blue: #4231ab;
$border-color: rgba(0, 0, 0, 0.25);

@mixin col($col) {
    width: calc((100% / 12) * #{$col});
}

@mixin d-flex($type) {
    display: flex;
    @if $type == 'c-c' {
        justify-content: center;
        align-items: center;
    } @else if $type == 's-c' {
        justify-content: start;
        align-items: center;
    } @else if $type == 's-s' {
        justify-content: start;
        align-items: start;
    } @else if $type == 'e-c' {
        justify-content: flex-end;
        align-items: center;
    } @else if $type == 'sb-c' {
        justify-content: space-between;
        align-items: center;
    }
}

.c-pink {
    color: #f50057;
}

.line-height {
    line-height: 0 !important;
}
.c-grey {
    color: #2f2f2f;
}
.c-grey-op-5 {
    color: rgba(47, 47, 47, 0.77);
}
header {
    width: 100%;
    height: 300px;
    background: url(../images/header-bg.jpg) no-repeat center center;
    background-size: cover;
    .header-bg {
        width: 100%;
        height: 100%;
        background: #00000080;
    }
    @media (max-width: 576px) {
        height: 90px;
    }
    .nav-site-desktop {
        @media (max-width: 992px) {
            display: none;
        }
    }
    .mobile-menu-block-main {
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
    }
    .menu-block-mobile {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 10px;
        top: 10px;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        @include d-flex('c-c');
    }
    .mobile-mnu-site {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(66, 49, 171, 0.92);
        z-index: 1;
        transition: 0.2s;
        .user-name-mobile {
            color: rgba(255, 255, 255, 0.77);
            font-size: 30px;
            width: calc(100% - 40px);
            padding: 10px;
        }
        .close-button-mobile {
            position: absolute;
            width: 40px;
            height: 40px;
            right: 10px;
            top: 10px;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            @include d-flex('c-c');
        }
        .menu-body-mobile {
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;
            height: calc(100vh - 60px);
            overflow: auto;
            .menu-item-mobile {
                display: block;
                width: 100%;
                padding: 10px 20px;
                text-align: left;
                color: #fff;
                border-bottom: 1px solid rgba(255, 255, 255, 0.46);
                &.active {
                    background: rgba(255, 255, 255, 0.46);
                }
            }
        }
    }
    .menu-site {
        height: 60px;
        display: flex;
        justify-content: start;
        align-items: center;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: #ffffff !important;
            margin-right: 50px;
            padding: 20px 0;
            &:hover {
                transform: translateY(1px);
                border-bottom: 2px solid #fff;
            }
            &.active {
                transform: translateY(1px);
                border-bottom: 2px solid #fff;
            }
        }
    }
    .login-and-reg {
        padding: 0;
        @include d-flex('e-c');
        .fal {
            margin-right: 10px;
        }
        .login-reg {
            margin-left: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: #ffffff;
        }
    }
}

.search {
    width: 100%;
    height: 84px;
    position: relative;
    top: -42px;
    @include d-flex('c-c');
    @media (max-width: 576px) {
        height: 60px;
        top: -30px;
    }
    .search-block {
        @include col(6);
        height: 100%;
        background: #fff;
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        @media (max-width: 992px) {
            @include col(10);
        }
        @media (max-width: 500px) {
            @include col(11);
        }
        label {
            width: 100%;
            height: 100%;
            input {
                width: 95%;
                height: 100%;
                padding-left: 35px;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                border: 0;
            }
            .far {
                font-size: 30px;
                position: absolute;
                right: 22px;
                top: 29px;
                @media (max-width: 576px) {
                    font-size: 25px;
                    right: 15px;
                    top: 19px;
                }
            }
        }
        .fa-times {
            cursor: pointer;
        }
    }
    .searching-block {
        @include col(6);
        height: 400px;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translate(-50%, 0);
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        z-index: 1;
        overflow: auto;
        @media (max-width: 992px) {
            @include col(10);
        }
        @media (max-width: 576px) {
            top: 70px;
        }
        @media (max-width: 500px) {
            @include col(11);
        }
    }
}
.site-content {
    width: 100%;
    height: auto;
    .container-site-content {
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        padding: 0;
        .block-name-and-map-url {
            margin-top: 70px;
            display: inline-block;
            .body-name-and-map-url {
                width: 100%;
                @include d-flex('s-c');
                @media (max-width: 576px) {
                    flex-direction: column-reverse;
                }
                .title-content {
                    margin-top: 0;
                }
                .breadcrumb-block {
                    margin-left: 40px;
                    margin-bottom: 28px;
                    @media (max-width: 576px) {
                        margin-left: -30px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .title-content {
            display: inline-block;
            margin-top: 70px;
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #4231ab;
            position: relative;
            margin-bottom: 30px;
            padding-left: 30px;
            &.track-view {
                margin-top: 0;
            }
            &:before {
                content: '';
                position: absolute;
                width: 60px;
                height: 2px;
                left: 30px;
                bottom: -5px;
                background: $c-blue;
            }
        }
        .track-name-view {
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
            padding-left: 30px;
        }
        .track-view-info {
            padding-left: 30px;
            margin-top: 20px;
        }
        .hashtags {
            padding-left: 30px;
            @include d-flex('s-c');
            a {
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #175eca;
                margin-right: 5px;
            }
        }
        .track-info {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
        .fal,
        .fas {
            margin-right: 5px;
        }
        .down-play-block {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            padding-top: 0;
            button {
                width: 160px;
                @media (max-width: 420px) {
                    width: 130px;
                }
            }
            .MuiButton-label {
                white-space: nowrap;
            }
            .col-buttons-track-view {
                margin-right: 15px;
                @media (max-width: 420px) {
                    margin: 0;
                    padding-right: 0;
                }
            }
            .btn-2 {
                margin-top: 15px;
            }
        }
        .plus-an-like {
            display: flex;
            justify-content: start;
            align-items: center;
            color: $c-blue;
            font-size: 28px;
            cursor: pointer;
            margin-top: 10px;
            div {
                margin-right: 15px;
            }
            .fal,
            .far {
                &:hover {
                    color: #6958beff;
                }
            }
        }
        .soc-sites {
            padding-left: 30px;
            @include d-flex('s-c');
            font-size: 30px;
            margin-bottom: 30px;
            div {
                margin-right: 15px;
            }
            .fab {
                cursor: pointer;
            }
            .fa-facebook-square {
                color: #0c408d;
            }
            .fa-vk {
                color: #2174c9;
            }
            .fa-odnoklassniki-square {
                color: #c28b17;
            }
            .fa-telegram {
                color: #179ac2;
            }
            .fa-whatsapp-square {
                color: #218624;
            }
        }
    }
}

.tracks {
    width: 100%;
    padding: 12px 0 12px 30px;
    border-bottom: 1px solid $border-color;
    @include d-flex('sb-c');
    cursor: pointer;
    background: #fff;
    &:hover {
        background: rgba(83, 66, 183, 0.3);
        .buttons {
            opacity: 1;
        }
    }
    .track-name {
        @include d-flex('s-c');
        .player-track {
            width: 35px;
            height: 30px;
            color: #4231ab;
            font-size: 25px;
            @include d-flex('s-c');
            cursor: pointer;
            margin-right: 5px;
            &:hover {
                color: #9e8df6;
            }
        }
        .title-track {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $c-blue;
        }
    }
    .buttons {
        opacity: 0;
        @include d-flex('e-c');
        @media (max-width: 768px) {
            display: none !important;
        }
        .date {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: $c-blue;
            margin-right: 15px;
        }
        .pluse-track,
        .like-track,
        .download-track {
            font-size: 25px;
            color: $c-blue;
            margin-right: 15px;
            cursor: pointer;
            &:hover {
                color: #9e8df6;
            }
        }
    }
}

.row {
    @media (max-width: 576px) {
        margin-right: 0;
    }
}

.player {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $c-blue;
    border-top: 1px solid #fff;
    z-index: 1;
    .container-player {
        height: 100%;
        @include d-flex('s-c');
        .button-player {
            width: 40px;
            height: 100%;
            @include d-flex('c-c');
            color: #fff;
            font-size: 25px;
            .fas,
            .far {
                cursor: pointer;
                &:hover {
                    color: #aca4d5;
                }
            }
        }
        .loading-player {
            width: calc(100% - 200px);
            position: relative;
            top: -9px;
            @media (max-width: 576px) {
                top: -1px;
            }
            .title-player {
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #ffffff;
                margin-bottom: 2px;
                @media (max-width: 576px) {
                    display: none;
                }
            }
            .loading {
                width: 100%;
                height: 14px;
                background: rgba(255, 255, 255, 0.85);
                border: 2px solid #ffffff;
                box-sizing: border-box;
                border-radius: 11px;
                cursor: pointer;
                @media (max-width: 576px) {
                    height: 10px;
                }
                .progress-player {
                    width: 20px;
                    height: 20px;
                    background: #f50057;
                    border-radius: 15px;
                    position: relative;
                    top: -5px;
                    @media (max-width: 576px) {
                        width: 14px;
                        height: 14px;
                        top: -4px;
                    }
                }
            }
        }
        .time {
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            color: #ffffff;
            margin: 0 10px;
        }
    }
}
.modal-reg-and-login {
    .content {
        width: 240px;
        margin: 0 auto;
    }
}

footer {
    width: 100%;
    height: 180px;
    background: $c-blue;
    .corp {
        color: #fff;
        margin-top: 20px;
        display: inline-block;
        a {
            margin-left: 5px;
        }
    }
}
#menu-register-user {
    text-transform: uppercase;
    font-weight: 500;
}
.makeStyles-purple-6 {
    color: rgba(255, 255, 255, 0.85);
}
